@charset "UTF-8";
.about-us-list-link, .footer-categories-desc, .footer-info-addres-link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.55);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
}

body, header {
  font-family: Poppins;
  background: rgb(30, 37, 43);
}

.container {
  margin: 0 auto;
  max-width: 1224px;
}

.decor-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
}
.decor-list-span {
  display: inline-block;
  background-image: url("../img copy/testimonial/Rectangle-337.png");
  width: 44px;
  height: 6px;
}
.decor-list-span:hover {
  display: inline-block;
  background-image: url("../img copy/testimonial/orange Rectangle 335.png");
  width: 44px;
  height: 8px;
}

.logo {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 21px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
  margin-right: auto;
}

.footer-logo-link {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  color: var(--logo--home-title--all-title--selection-apps-title-color-color);
}

.logo-footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.section-contributor-form {
  border: solid 1.5px;
  border-radius: 15px;
  max-width: 549px;
  padding: 8px 0px 8px 0px;
  margin: 0 auto;
  border-color: rgb(40, 48, 54);
  background-color: rgb(40, 48, 54);
}

.contributor-form-input {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: _;
  padding: 0;
  border: 0px;
  margin-left: 24px;
  max-width: 122px;
  background-color: rgb(40, 48, 54);
}

.contributor-form-button {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-left: 260px;
  padding: 12px 36px;
  background-color: rgb(255, 110, 48);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 110px;
}
.social-list-div-button {
  border-radius: 8px;
  padding: 11px;
  background-color: .social-list-div-button page-color;
}

.section-trusted-brands {
  content: "";
  background-image: url("./img/brands_background.png");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 58px;
  padding-bottom: 56px;
}

.trusted-brands-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.trusted-brands-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 107px;
}

.section-contributor {
  padding-bottom: 240px;
  padding-top: 250px;
}
.section-contributor-title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: _;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 25px;
}
.section-contributor-desc {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: _;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  max-width: 427px;
  margin: 0 auto 100px;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 70px;
  padding-bottom: 98px;
}

.footer-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 115px;
  margin-left: auto;
}

.footer-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.footer-logo-link {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.9);
}

.footer-div-desc {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 21px;
}

.footer-div-desc-info {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.55);
  max-width: 260px;
}

.footer-info-title, .footer-about-us-title, .footer-categories-title {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}

.about-us-list-item, .footer-categories-desc, .footer-info-addres-list-item {
  margin-bottom: 10px;
}

header {
  margin-top: 26px;
}

.header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-hero {
  background-image: url("../img copy/illustration-home-page-big.png");
  background-repeat: no-repeat;
  background-position: right;
}
.section-hero .section-hero-title {
  font-family: Poppins;
  font-size: 50px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.9);
  max-width: 600px;
  padding-top: 104px;
  margin-bottom: 30px;
}
.section-hero-desc {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.55);
  max-width: 487px;
  margin-bottom: 60px;
}

.hero-list-title-dot {
  color: rgb(255, 110, 48);
}

.section-hero-form {
  border: solid 1.5px;
  border-radius: 15px;
  max-width: 498px;
  padding: 8px 0px 8px 0px;
  border-color: rgb(40, 48, 54);
  background-color: rgb(40, 48, 54);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-hero-form:before {
  content: url("../img copy/search-img-for-button.png");
  padding-left: 18px;
  padding-right: 13px;
}

.section-hero-form-input {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: _;
  border: 0px;
  background-color: inherit;
  min-width: 300px;
}

.section-hero-form-button {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgb(255, 255, 255);
  border: solid 2px;
  border-radius: 8px;
  padding: 12px 36px;
  border-color: rgb(255, 110, 48);
  background-color: rgb(255, 110, 48);
}
.section-hero-form-button:hover {
  border: solid 2px;
  border-color: rgb(255, 110, 48);
  background-color: rgb(40, 48, 54);
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  margin-top: 110px;
}
.social-list-div-button {
  border-radius: 8px;
  padding: 11px;
  background-color: rgb(30, 37, 43);
}

.hero-list-div-button-img-facebook {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 10px 0px 10px;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 26px;
}
.nav-list-link {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.55);
}
.nav-list-link-categories::after {
  content: image-set("/antools/img/nav/categories_hove-img.png" 1x);
  margin-left: 5px;
}
.nav-list-img {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
  margin-left: 5px;
}

.categories:hover .nav-list-img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.section-newcomer-tools {
  padding-top: 200px;
  padding-bottom: 200px;
}

.newcomer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newcomer-tools-apps-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 46px;
  max-width: 638px;
}

.newcomer-tools-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.newcomer-tools-list-item {
  padding: 28px 21px;
  width: 292px;
  height: 288px;
}

.newcomer-tools-list-item:hover {
  background-image: url("/img/buttonimg/bg newcomer.png");
  background-repeat: no-repeat;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  width: 292px;
  height: 288px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.newcomer-svg-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.newcomer-svg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.newcomer-tools-title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 30px;
}

.newcomer-tools-desc {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.55);
  max-width: 427px;
  margin-bottom: 60px;
}

.newcomer-tools-button {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 16px 40px;
  background-color: rgb(255, 110, 48);
}

.newcomer-tools-apps-list-img {
  margin-right: 30px;
}

.newcomer-tools-apps-list-desc-info {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.1;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.55);
  max-width: 245px;
  margin: 30px 0px 30px 0px;
}

.newcomer-tools-apps-list-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.78);
  margin-bottom: 3px;
}

.newcomer-tools-apps-list-desc {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 165, 55, 0.55);
}

.newcomer-tools-apps-list-button {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.38);
  padding: 9px 25px;
  border-radius: 8px;
  background-color: inherit;
}

.newcomer-tools-apps-list-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 110, 48);
}

.popular-tools {
  padding-top: 200px;
  padding-bottom: 200px;
}

.popular-tools-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popular-tools-svg-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

.popular-tools-title {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: _;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 25px;
}

.popular-tools-desc {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: _;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  max-width: 427px;
  margin: 0 auto 110px;
}

.popular-tools-list {
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 100px 18px;
}

.popular-tools-list-item {
  padding: 33px;
  width: 396px;
  height: 298px;
}
.popular-tools-list-item .popular-tools-list-item:hover {
  background-image: url("/img/appsimg/apps-bg-img.png");
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  width: 396px;
  height: 298px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
}

.popular-tools-list-title {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.78);
  margin-bottom: 3px;
}

.popular-tools-list-desc {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: _;
  text-align: left;
  color: rgba(255, 165, 55, 0.55);
}

.popular-tools-list-desc-info {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.55);
  max-width: 326px;
  margin: 30px 0px 30px 0px;
}

.popular-tools-list-button {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.55);
  padding: 9px 35px;
  border-radius: 8px;
  background-color: inherit;
}

.popular-tools-list-button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(255, 110, 48);
}

.popular-tools-list-img {
  margin-right: 30px;
}

.popular-tools-svg {
  border: 7px;
}

.section-popular-tools-button-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-tools-svg-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-popular-tools-button {
  display: block;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgb(255, 110, 48);
  border: solid 1px;
  border-radius: 8px;
  padding: 17px 38px;
  margin: 0 auto;
  background-color: rgb(30, 37, 43);
  border-color: rgba(255, 255, 255, 0.1);
}

.log-reg-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  padding-top: 26px;
  margin-left: auto;
}
.log-reg-list-item {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
}
.log-reg-list-button-login {
  background-color: rgb(30, 37, 43);
  font-family: Poppins;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(255, 255, 255, 0.55);
}
.log-reg-list-button-sing {
  border-radius: 8px;
  background-color: rgb(255, 110, 48);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0em;
  text-align: left;
  color: rgb(253, 245, 255);
  padding: 12px 28px;
}

.testimonial-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-ronaldo-bg {
  background-image: url("../img copy/testimonial/ronaldo-human-bg.png");
  width: 399px;
  height: 492px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.section-testimonial-div {
  background-image: url("");
  background-repeat: no-repeat;
}

.testimonial-list-div-div {
  background-image: url("../img copy/testimonial/ranaldo-richards-testimonial-bg.png");
  background-repeat: no-repeat;
  padding: 10px 23px 16px 23px;
}

.testimonial-list-div-title {
  font-family: Poppins;
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.015em;
  text-align: left;
  color: rgba(255, 255, 255, 0.78);
  margin-bottom: 2px;
}

.testimonial-list-div-desc {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.015em;
  text-align: left;
  color: rgba(255, 255, 255, 0.55);
  margin-bottom: 16px;
}

.testimonial-info {
  background-image: url("../img copy/testimonial/lapku.png");
  background-repeat: no-repeat;
  background-position: 7% 3%;
}

.testimonial-list-info-div-desc {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 2.1;
  letter-spacing: 0.015em;
  text-align: left;
  color: rgba(255, 255, 255, 0.78);
  max-width: 393px;
  padding: 55px 0px 46px 75px;
  min-width: 469px;
}

.testimonial-button-left {
  padding: 38px 34px;
  background-image: url("../img copy/testimonial/chevron-left.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(30, 37, 43);
  margin-right: 108px;
}
.testimonial-button-left:hover {
  background-image: url("./img copy/testimonial/orage strilka.png");
}

.testimonial-button-right {
  padding: 38px 34px;
  background-image: url("../img copy/testimonial/дуае-кшпре.png");
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(30, 37, 43);
  margin-left: 108px;
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  padding-top: 70px;
  padding-bottom: 98px;
}

.footer-info-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 115px;
  margin-left: auto;
}

.footer-wraper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  margin-bottom: 25px;
}

.footer-logo-link {
  font-family: Poppins;
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.9);
}

.footer-div-desc {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 21px;
}

.footer-div-desc-info {
  font-family: Poppins;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.55);
  max-width: 260px;
}

.footer-info-title, .footer-about-us-title, .footer-categories-title {
  font-family: Poppins;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: _;
  text-align: _;
  color: rgba(255, 255, 255, 0.9);
  margin-bottom: 20px;
}

.about-us-list-item, .footer-categories-desc, .footer-info-addres-list-item {
  margin-bottom: 10px;
}/*# sourceMappingURL=main.css.map */