$logo--home-title--all-title--selection-apps-title-color-color:rgba(255, 255, 255, 0.9);
$nav--apps-name-color:rgba(255, 255, 255, 0.78);
$buttons-bg--dot--load-button-color:rgba(255, 110, 48, 1);
$home-p--main-p--apps-info--footer-a-p-color:rgba(255, 255, 255, 0.55);
$button-text--input-tex-color:rgba(255, 255, 255, 0.38);
$apps-value-color:rgba(255, 165, 55, 0.55);
$trusted-brands-title-color:rgba(255, 255, 255, 0.8);
$selection-tools-buttons-text-color:rgba(255, 255, 255, 1);
$reg-button-text-color:rgba(253, 245, 255, 1);
$selection-apps-value:rgba(255, 165, 55, 1);
$button-text-in-contributor-color:rgba(131, 122, 147, 1); 
$page-color:rgba(30, 37, 43, 1); 
$button-bg-color:rgba(40, 48, 54, 1); 
$button-border-color:rgba(255, 255, 255, 0.1);
$brands-border-color:rgba(255, 255, 255, 0.05);
$border-top-footer:rgba(255, 255, 255, 0.15);