.logo{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;

    color: $logo--home-title--all-title--selection-apps-title-color-color;
    display: flex;
    gap: 21px;
    align-items: center;
    padding-top: 26px;
    margin-right: auto;
}
    //footer-logo

.footer-logo-link{
    font-size: 22px;
    font-weight: 600;
    line-height: 1.5;

    color: var(--logo--home-title--all-title--selection-apps-title-color-color);
}


.logo-footer-wrap{
    display: flex;
    gap: 12px;
    margin-bottom: 25px;
}